body{
	background: #212121;
	color:#fff;
	font-family: Consolas;
}
h1{
	text-align: center;
}
#grande{
	width: 400px;
	margin: 0 auto;

}
#grande img{
	width: 400px;
	
}
a img{
	border-radius: 100%;
	border: 5px solid #ddd;
	width: 80px;
	-webkit-transition:all .25s linear;
}
a:hover>img{
	-webkit-transform:scale(1.2);
}
.cargar{
	top: 40%;
	left: 50%;
	position: absolute;
}
#thumbs{

	position: relative;
	top: 70%;
	left: 35%;
}