body{
	background: #212121;
	color:#fff;
	font-family: Consolas;
}
h1{
	text-align: center;
}
#grande{
	width: 400px;
	height: 400px;
	margin: 0 auto;
}
#grande img{
	width: 400px;
	height: 400px;
}
a img{
	border-radius: 100%;
	border: 5px solid #ddd;
	width: 80px;
}
.cargar{
	top: 40%;
	left: 50%;
	position: absolute;
}
#thumbs{
	position: absolute;
	top: 75%;
	left: 35%;
}