body{
	background: #212121;
}
h2{
	text-align: center;
	color:#ddd;
}
#grande{
	width: 400px;
	margin:0 auto;
	margin-bottom: 2%;
	display: block;
}
#grande img{
	width: 400px;

}
#miniaturas{
	width: 400px;
	margin:0 auto;
	display: block;

}
#miniaturas img{
	width: 80px;
	border-radius: 80px;
	border:4px solid #ddd;
	-webkit-transition:all .25s linear;
}
#miniaturas img:hover{
	-webkit-transform:scale(1.2);
}
.preloader{
	position: absolute;
	top:30%;
	left: 50%;
}